[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
django-dotenv = "*"
pillow = "*"

[dev-packages]
green = "*"

[requires]
python_version = "3.6"
