<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSU Cascades Computer Science Talent Roster</title>
</head>

<body>
  <h1>My Profile</h1>
  <a href="">Log out</a>
  <div class="profile_template">
    <img src="sample_profile.png" width="50%">
  </div>

  <div class="profile_form">
    First Name<input type="text"> 
    Last Name <input type="text"><br>
    Email <input type="email"><br>
    Bio<br>
    <textarea rows="4" cols="50"> </textarea><br>
    Skills<br>
    <textarea rows="4" cols="50"> </textarea><br>
    Graduation date <input type="date"><br>
    Resume <input type="file"><br>
    Photo<input type="file"><br>
    web site <input type="url">
    Github <input type="url"><br>

      <a href="my_profile.html"><button>Save</button></a>
  </div>
  
</body>
</html>
