<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSU Cascades Computer Science Talent Roster</title>
  <link rel="stylesheet" href="/static/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
<h1>OSU Cascades Computer Science Talent Roster</h1>
<p><a href="/admin">Sign In</a></p>
<h2>Featured Profile</h2>
<div class="profile" id="featured_profile">
  <img src="/static/sample_profile.png">
  <p><a href="{% url 'profiles:list' %}">View all profiles</a></p>
</div>
<div class="main_page">
  <div class="students_main">
    <span class="fa fa-graduation-cap" style="font-size:100px;"></span>
    <a href="/admin"><button class='main_button'>Register</button></a>
  </div>
  <div class="business_main">
    <span class="fab fa-black-tie" style="font-size:100px;"></span>
    <a href="businesses.html"><button class='main_button'>Businesses</button></a>
  </div>
</div>

</body>
</html>
