{% extends 'profiles/base.html' %}
{% load static %}

{% block content %}

<h2>Featured Profile</h2>
<div class="profile" id="featured_profile">
  <img src="{% static 'profiles/sample_profile.png' %}">
  <p><a href="{% url 'profiles:list' %}">View all profiles</a></p>
</div>
<div class="main_page">
  <div class="students_main">
    <span class="fa fa-graduation-cap" style="font-size:100px;"></span>
    <a href="{% url 'admin:login' %}"><button class='main_button'>Register</button></a>
  </div>
  <div class="business_main">
    <span class="fab fa-black-tie" style="font-size:100px;"></span>
    <a href="businesses.html"><button class='main_button'>Businesses</button></a>
  </div>
</div>

{% endblock %}
