<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSU Cascades Computer Science Talent Roster</title>
  <link rel="stylesheet" href="/static/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
  <h1>OSU Cascades Computer Science Talent Roster</h1>
  <a href="/admin">Sign In</a>

  <br>

  <div class="sample">
    <img src="/static/sample_profile.png"><br>
    <a href="/profiles/list">View all profiles</a><br>
  </div>
  <br>

  <div class="main_page">
    <div class="students_main">
        <i class="fa fa-graduation-cap" style="font-size:100px;"></i><br>
        <a href="/admin"><button class='main_button'>Register</button></a>
      </div>

      <div class="business_main">
        <i class="fab fa-black-tie" style="font-size:100px;"></i><br>
        <a href="businesses.html"><button class='main_button'>Businesses</button></a>
      </div>
  </div>

</body>
</html>
