<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSU Cascades Computer Science Talent Roster</title>
  <link rel="stylesheet" href="/static/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>
<h1>{{ profile.full_name }}</h1>
<p><a href="{% url 'profiles:list' %}">List of all profiles</a></p>
</body>
</html>
